/*
!.gitignore
!.github
!LICENSE
!README.md
!deps.ts
!mod.ts
!docs
!src
src/*
!src/bundle
!src/middleware
src/middleware/*
!src/svelte
src/svelte/*
!src/**/*.ts
!src/**/*.js
!src/**/*.json
!src/**/*.svelte
