@layer base {
  .App {
    align-items: start;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;

    & > * {
      flex: 0 1 auto;
      min-width: 0;
    }

    & > :last-child {
      margin-block-start: auto;
    }
  }
}
