@layer base {
  @font-face {
    font-family: 'DMSerifDisplay';
    src: url('/fonts/DMSerifDisplay-Regular.woff2') format('woff2');
    font-display: fallback;
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans-Regular.woff2') format('woff2');
    font-display: fallback;
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans-Bold.woff2') format('woff2');
    font-display: fallback;
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'MonaspaceNeon';
    src: url('/fonts/MonaspaceNeon-Regular.woff') format('woff2');
    font-display: fallback;
    font-weight: 400;
    font-style: normal;
  }
}
