@layer base {
  .Grid {
    --grid-template: var(--grid-template-advanced);
    container-name: grid;
    container-type: inline-size;
    display: grid;
    column-gap: var(--grid-column-gap);
    row-gap: var(--grid-row-gap);
    grid-template-columns: var(--grid-template);
    padding-inline: var(--grid-margin);
    width: 100%;

    & > * {
      grid-column: main-start / main-end;
    }
  }
}
