@layer base {
  .Table {
    overflow: hidden;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    margin-block: var(--block-gap2);

    &:first-child {
      margin-block-start: 0;
    }

    &:last-child {
      margin-block-end: 0;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border-inline: calc((1 / 16) * 1rem) solid oklch(var(--color-subtle));
    font-size: var(--step-0);
    padding: var(--space-2xs);
    text-align: start;
  }

  th {
    font-weight: 700;
  }

  tr {
    border-block: calc((1 / 16) * 1rem) solid oklch(var(--color-subtle));
  }
}
