@layer base {
  a {
    --color: var(--color-anchor);
    --underline-opacity: 0.5;
    color: oklch(var(--color));
    text-decoration-line: underline;
    text-decoration-thickness: calc((1 / 16) * 1rem);
    text-decoration-skip-ink: all;
    text-decoration-color: oklch(var(--color) / var(--underline-opacity));
    text-underline-offset: 0.15em;
    transition: color 200ms, text-decoration-color 200ms;

    &:active,
    &:visited {
      color: oklch(var(--color));
    }

    &:hover {
      --color: var(--color-blue);
    }

    &:focus {
      --color: var(--color-focus);
      outline: none;
    }

    &:focus-visible {
      --underline-opacity: 0;
      outline: var(--focus-outline);
      outline-offset: calc((2 / 16) * 1rem);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-serif), serif;
    font-size: var(--font-size);
    font-weight: 400;
    line-height: var(--line-height);
    margin: 0;
    margin-block-end: var(--block-gap1);

    &:last-child {
      margin-block-end: 0;
    }

    :where(p, ol, ul) + & {
      margin-block-start: var(--grid-row-gap);
    }
  }

  h1 {
    --font-size: var(--step-4);
    line-height: 1;
  }

  h2 {
    --font-size: var(--step-3);
    line-height: 1.1;
  }

  h3 {
    --font-size: var(--step-2);
    line-height: 1.2;
  }

  h4 {
    --font-size: var(--step-1);
    line-height: 1.3;
  }

  sup {
    font-size: var(--step-0);
    vertical-align: top;
  }

  p {
    font-size: var(--font-size);
    margin: 0;
    margin-block-end: var(--block-gap1);
    max-inline-size: 70ch;

    &:last-child {
      margin-block-end: 0;
    }
  }

  ul,
  ol {
    --bullet: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"><path fill="oklch(97% 0.02 80)" d="M9.625 5.375L15 7.5 9.625 9.625 7.5 15 5.375 9.625 0 7.5l5.375-2.125L7.5 0z"/></svg>');
    --bullet-size: calc(var(--font-size) * var(--line-height));
    margin-block-end: var(--block-gap1);
    list-style: none outside;

    &:last-child {
      margin-block-end: 0;
    }

    & li {
      font-size: var(--font-size);
      margin-block-end: var(--space-2xs);
      padding-inline-start: calc(var(--bullet-size) + var(--space-2xs));
      position: relative;

      &:last-child {
        margin-block-end: 0;
      }

      &::before {
        content: '•';
        color: transparent;
        display: block;
        background: var(--bullet) center center no-repeat;
        background-size: calc(var(--font-size) * 0.9) auto;
        height: var(--bullet-size);
        inset-block-start: 0;
        inset-inline-start: 0;
        position: absolute;
        width: var(--bullet-size);
      }
    }

    :where(&) & {
      margin-block-start: var(--space-2xs);
      margin-inline-start: var(--space-m);
    }
  }

  ol {
    counter-reset: ol-counter;

    & li {
      &::before {
        background: none;
        color: currentColor;
        content: counter(ol-counter) '.';
        counter-increment: ol-counter;
        text-align: center;
      }
    }
  }

  pre {
    font-family: 'MonaspaceNeon', monospace;
    margin-block-end: var(--block-gap1);

    &:last-child {
      margin-block-end: 0;
    }
  }

  code {
    font-family: 'MonaspaceNeon', monospace;
    color: oklch(var(--color-blue));
  }
}

@layer utility {
  .H0 {
    --font-size: var(--step-5);
  }

  .H1 {
    --font-size: var(--step-4);
  }

  .H2 {
    --font-size: var(--step-3);
  }

  .H3 {
    --font-size: var(--step-2);
  }

  .H4 {
    --font-size: var(--step-1);
  }

  .P {
    font-size: var(--font-size);
  }
}
