@layer components {
  .Alert {
    --border-width: 2;
    --background-padding-box: linear-gradient(
      to right,
      oklch(var(--color-bg)),
      oklch(var(--color-bg-dark))
    );
    --background-border-box: linear-gradient(
      45deg,
      oklch(var(--color-blue)),
      oklch(var(--color-green)),
      oklch(var(--color-yellow))
    );
    border: calc((var(--border-width) / 16) * 1rem) solid oklch(var(--color-subtle));
    border-color: transparent;
    border-radius: calc((8 / 16) * 1rem);
    background: var(--background-padding-box) padding-box,
      var(--background-border-box) border-box;
    margin-block: var(--block-gap2);
    padding: var(--space-m);
    text-align: center;

    &:first-child {
      margin-block-start: 0;
    }

    &:last-child {
      margin-block-end: 0;
    }

    & > * {
      max-width: none;
    }
  }

  .Alert--small {
    --border-width: 1;
    --font-size: var(--step-0);
    padding: var(--space-s);
  }
}
