@layer components {
  .Container {
    --background-color: var(--color-bg);
    --background-opacity: 0;
    background: oklch(var(--background-color) / var(--background-opacity));
    padding-block: var(--grid-row-gap);

    & > * {
      grid-column: inner-start / inner-end;
    }

    & > & {
      grid-column: outer-start / outer-end;
      margin-inline: calc(-1 * var(--grid-margin));
      width: auto;
    }

    & > aside {
      order: 2;
    }

    & > main {
      order: 1;
    }

    &:not([class*='Container--']) {
      & + & {
        padding-block-start: 0;
      }
    }
  }

  .Container--dark {
    --background-color: var(--color-bg-dark);
    --background-opacity: 1;
  }

  .Container--light {
    --background-color: var(--color-bg-light);
    --background-opacity: 1;
  }

  @container grid (inline-size >= calc((800 / 16) * 1rem)) {
    .Container {
      & > aside {
        grid-column: aside-start / aside-end;
        order: 1;
      }

      & > main {
        grid-column: main-start / main-end;
        order: 2;
      }
    }
  }
}
