@layer components {
  .Menu {
    align-items: baseline;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
  }

  .Menu__item {
    --font-size: var(--step-0);
    border-block-end: calc((2 / 16) * 1rem) solid oklch(var(--color-subtle));
    margin: 0;
    width: 100%;
    padding: var(--space-xs);

    &::before {
      display: none;
    }
  }

  .Menu__link {
    display: block;

    &[aria-current='page'] {
      --color: var(--color-text);
      --underline-opacity: 0;
    }
  }
}
