html {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header, footer, main {
  padding-inline: 1rem;
  margin-block-end: 1rem;
}

time {
  display: block;
  font-size: 1.5rem;
  margin: 2rem 0;
}
