*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.translated-rtl {
  direction: rtl;
}

body {
  margin: 0;
  padding: 0;
}

img,
svg,
video {
  border: 0;
  display: block;
  height: auto;
  max-width: 100%;
}

button {
  background: transparent;
  appearance: none;
  border: none;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

b,
strong {
  font-weight: 700;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

header, footer, main {
  padding-inline: 1rem;
  margin-block-end: 1rem;
}

time {
  display: block;
  font-size: 1.5rem;
  margin: 2rem 0;
}
